div {
  font-family: fantasy;
  /* text-align: center; */
  font-size: larger;
  /* font-family: 'Mulish'; */
  margin-left: 20%;
  margin-top: 5%;
  border: 2px solid black;
  paddig: 20px;
  width: 700px;
  padding: 20px;
}
