/* You can add global styles to this file, and also import other style files */
.network-success-snackbar {
  color: white;
  background: #0ab163 !important;
  font-weight: 600;
  margin-top: 100px;
}

.network-error-snackbar {
  color: white;
  background: #b92928 !important;
  font-weight: 600;
  margin-top: 100px;
}
